// .select2-results { background-color: #00f; }

// .select2-choice { background-color: #00f !important; }

.select2-container--default .select2-selection--single{
    background-color: #000;
}
// .select2-selection__choice{
//     background-color: #00f !important;
// }
// .select2-container--default .select2-selection--multiple .select2-selection__choice {
//     background-color: #00f !important;
// }
// .select2-container--default .select2-selection--multiple .select2-selection__choice {
//     background-color: #00f !important; /* Replace 'your-color' with the desired color */
//     color: white !important; /* Replace 'your-text-color' with the desired text color */
//   }
//   .select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove::after {
//     color: white !important; /* Replace 'your-color' with the desired color */
//   }

//   button.select2-selection__choice__remove::after{
//     background-color: aqua!important
//   }